.guess-container {
  margin-top: 20px;
}

.input {
  display: flex;
  justify-content: center;
}

.input__field {
  line-height: 30px;
  font-size: 20px;
  width: 60%;
  margin-right: 20px;
}

.input__button {
  border: 1px solid black;
  border-radius: 8px;
  height: 30px;
  padding: 1px 8px;
  vertical-align: middle;
}
